<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    {% block head %}{% endblock %}

</head>
<body>
<div id="content">
    <div class="header clear-fix">
        <div class="header-logo">
            <a href="{{ path('_index') }}">
                <img src="{{  asset('minerobot/images/logo.png') }}" alt="MineRobots" />
            </a>
        </div>
    </div>

    <div class="sf-reset">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
